################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Signalr/v16
/SignalrClient/bin/Debug/netcoreapp3.1
/SignalrClient/obj
/SignalrServer/bin/Debug/netcoreapp3.1
/SignalrServer/obj
